
@{
    Layout = null;
}
@model  Entities.Product

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        ID: @Model.ProductID
    </div>
    <div>
        ID: @Model.ProductName
    </div>
    <div>
        ID: @Model.UnitPrice
    </div>
    <div>
        ID: @Model.UnitsInStock
    </div>
</body>
</html>
