@model Entities.Usuario
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viewer Dashboard</title>
    <link rel="stylesheet" href="~/Content/AdminStyles.css">
</head>
<body>

    <h1>Vista de Visualizador</h1>
    <p>Nombre: @Model.Name</p>
    <p>Username: @Model.Username</p>
    <p>Rol: @Model.Rol</p>
    <p>Status: @Model.Status</p>
</body>