.room-container {
    padding: 20px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    background-color: #2c2f3b; /* Fondo oscuro */
    color: #f1f1f1; /* Texto blanco para contraste */
    height: 100vh;
}

.room-title {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
    color: #f8f9fa; /* Color claro para el título */
}

.chat-info {
    margin-bottom: 20px;
    text-align: center;
    font-size: 14px;
    color: #b0b3b8; /* Gris más claro para info */
}

.chat-box {
    height: 400px;
    overflow-y: auto;
    border: 1px solid #444c56; /* Bordes más oscuros */
    border-radius: 8px;
    padding: 10px;
    background-color: #3a3f47; /* Fondo gris oscuro */
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.message-container {
    display: flex;
    flex-direction: column;
    gap: 5px; /* Espacio entre el nombre y el mensaje */
}

.username {
    font-size: 12px; /* Tamaño pequeño para el nombre de usuario */
    font-weight: bold;
    color: #f8f9fa; /* Color claro para el nombre de usuario */
    margin-bottom: 3px; /* Espacio pequeño entre el nombre y el mensaje */
}

.my-username {
    text-align: right; /* Alineación a la derecha para el usuario actual */
}

.their-username {
    text-align: left; /* Alineación a la izquierda para otros usuarios */
}

.message {
    padding: 10px;
    border-radius: 8px;
    max-width: 70%;
    word-wrap: break-word;
    display: inline-block;
    font-size: 14px;
}

.their-message {
    background-color: #556b2f; /* Verde militar */
    align-self: flex-start;
    color: #f1f1f1; /* Texto blanco */
}

.my-message {
    background-color: #3b6e3f; /* Verde más oscuro */
    align-self: flex-end;
    color: #f1f1f1; /* Texto blanco */
}

.message-input-container {
    display: flex;
    gap: 10px;
}

.message-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #444c56; /* Bordes oscuros */
    border-radius: 8px;
    font-size: 14px;
    background-color: #2d353c; /* Fondo oscuro para input */
    color: #f1f1f1; /* Texto blanco en input */
}

.btn-return{
    text-decoration: none;
}

.btn-send, .btn-return{
    padding: 10px 20px;
    background-color: #a5a61d; /* Amarillo oliva para el botón */
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
}

.btn-send:hover {
    background-color: #8c8a16; /* Amarillo oliva más oscuro */
}
